<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery for bro.</title>
    <link rel="stylesheet" type="text/css" href="{% static "/css/base.css" %}">
</head>
<body>
    <div class="brand">Gallery as test_task for <strong>bro.</strong></div>
    
    <div class="login">
        {% if user.is_authenticated %}
        <br> <strong>Hi, {{ user.username}}!</strong> <a href="/test_task/logout">Logout</a>
        {% else %}
        <br> <strong>Who are you?</strong> <a href="/test_task/login">Login</a>
        {% endif %}

    </div>
    
    <div class="settings">

        {% if user.is_authenticated %}
        <form enctype="multipart/form-data" name="upload_image" method="POST">{%csrf_token%}
            {% for form in all_forms %}
                <br> {{ form }}
            {% endfor %}
            <br><label class="required" for="upload_image">Tags:</label><input type="text" name="tags" required id="upload_image">
            <div class="submit-row">
                <label></label><input type="submit" value="Загрузить">
            </div>      
        </form>
        {% endif %}

    </div>
    
    <div class="images">

        {% for image in images %}
        <ul>
            <li class="images_list">
                <a href="{{ image.image.url }}"><img src="{{ image.image.url }}" alt="{{ image.name }}"></a>
            </li>
        </ul>
        {% endfor %}
        <a href=""></a>

    </div>
    <div class="footer">Pages
    {% for page in pages %}
        <a href="/test_task/{{ page }}">{{ page }}</a>
    {% endfor %}
    </div>
</body>
</html>